# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# OS/editor
.DS_Store
*.swp
*.swo
*.tmp

# Archives/binaries (never commit)
kubectl
aws
awscliv2.zip
*.zip
*.tar.gz
*.tgz
*.deb
*.rpm

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
.venv/

# Secrets
*.pem
*.key
*.crt
secret
secret.pub
.aws/

# secrets
.ssh/
.aws/
